/Week 07 A/CodingExerciseOneServer/nbproject/private/
/Week 07 A/CodingExerciseOneServer/build/
/Week 07 A/CodingExerciseOneClient/nbproject/private/
/Week 07 A/CodingExerciseOneClient/build/
/Week 07 B/CodingExerciseTwoServer/nbproject/private/
/Week 07 B/CodingExerciseTwoServer/build/
/Week 07 B/CodingExerciseTwoClient/nbproject/private/
/Week 07 B/CodingExerciseTwoClient/build/