/Week 07 A/CodingExerciseOneServer/nbproject/private/
/Week 07 A/CodingExerciseOneServer/build/
/Week 07 A/CodingExerciseOneClient/nbproject/private/
/Week 07 A/CodingExerciseOneClient/build/
/Week 07 B/CodingExerciseTwoServer/nbproject/private/
/Week 07 B/CodingExerciseTwoServer/build/
/Week 07 B/CodingExerciseTwoClient/nbproject/private/
/Week 07 B/CodingExerciseTwoClient/build/
/Week 08 A/DummyCEX1A/nbproject/private/
/Week 08 A/DummyCEX1A/build/
/Week 08 A/Week08AClient/nbproject/private/
/Week 08 A/Week08AClient/build/
/Week 05/Tut5WebApplication/nbproject/private/