/Week 07 A/CodingExerciseOneServer/nbproject/private/
/Week 07 A/CodingExerciseOneServer/build/
/Week 07 A/CodingExerciseOneClient/nbproject/private/
/Week 07 A/CodingExerciseOneClient/build/
/Week 07 B/CodingExerciseTwoServer/nbproject/private/
/Week 07 B/CodingExerciseTwoServer/build/
/Week 07 B/CodingExerciseTwoClient/nbproject/private/
/Week 07 B/CodingExerciseTwoClient/build/
/Week 08 A/DummyCEX1A/nbproject/private/
/Week 08 A/DummyCEX1A/build/
/Week 08 A/Week08AClient/nbproject/private/
/Week 08 A/Week08AClient/build/
/Week 05/Tut5WebApplication/nbproject/private/
/Week 09 A/CEXMockUp2A/nbproject/private/
/Week 09 A/CEXMockUp2A/build/
/Week 09 A/Week09Client/nbproject/private/
/Week 09 A/Week09AClient/nbproject/private/
/Week 09 A/Week09AClient/build/
/Week 09 B/MockUpPrototype2/nbproject/private/
/Week 09 B/Week09BServer/nbproject/private/
/Week 09 B/Week09BClient/nbproject/private/
/Week 09 B/Week09BServer/build/
/Week 09 B/Week09BClient/build/
/Week 08 B/MockUpPrototypeA/nbproject/private/
/Week 08 B/Week08BClient/nbproject/private/
/Week 08 B/Real Client/nbproject/private/
/Week 08 B/Week08BClient/build/
/Week 08 B/Real Client/build/
/Week 08 B/Week08BClient/dist/
/Week 08 B/Week08BServer/build/
/Week 08 B/Week08BServer/dist/
/Week 08 B/Week08BServer/nbproject/private/
/Week 08 B/Real Server/nbproject/private/
/Week 08 B/Real Server/build/
/Week 08 B/Week09B Real Server/nbproject/private/
/Week 08 B/Week09B Real Server/build/
/Week 08 B/Week09B Real Server/dist/
/Week 08 B/Week 08B Server/nbproject/private/
/Week 08 B/Week 08B Server/build/
/Week 08 B/Week 08B Client/nbproject/private/
/Week 08 B/Week 08B Server/dist/
/Week 08 B/08B Client/nbproject/private/
/Week 08 B/08B Client/build/
/Week 08 B/08B Server/nbproject/private/
/Week 08 B/08B Server/build/
/Week 08 B/08B Server/dist/
/Week 08 B/Week 08 B Server/nbproject/private/
/Week 08 B/Week 08 B Server/build/
/Week 08 B/Week 08 B Client/nbproject/private/
/Week 08 B/Week 08 B Client/build/